<template>
  <div class="container">
    <div class="row">
      <div class="col" v-for="(asset,index) in assets" :key="index">
        <p class="h3">{{asset.name}}</p>
        <router-link :to="{ name: 'products', params: { item: productID }}">
          <img :src="asset.variant[0].variantImage" class="width" @click="showProduct(index)" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import data from "@/db.js";

export default {
  name: "Home",
  components: {},
  data() {
    return {
      assets: data,
      productID: "dress",
      selectedVariant: null,
      title: "",
    };
  },
  methods: {
    showProduct(index) {
      this.selectedVariant = index;
      this.productID = this.assets[this.selectedVariant].name;
    },
  },
};
</script>
<style>
.width {
  max-width: 50%;
}
div.container {
  width: 100%;
  margin: 0 auto;
}
</style>



