<template>
  <div >
    <div class="product container">
      <div class="row">
        <div class="col-md-8">
          <img :src="imageLoader" class="width" />
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col selectColor">
              <div
                v-for="(variant,index)  in item"
                :key="variant.variantId"
                class="color-box"
                :style="{ backgroundColor: variant.variantColor }"
                @mouseover="updateProduct(index)" 
              ></div>
            </div>
            <br />
            <div class="w-100"></div>
            <div class="col stock">
              <p v-if="inStock" class="width">Stock Disponible</p>
              <p v-else class="width">Stock No disponible</p>
            </div>
          </div>
          <div class="row">
            <div class="col addCart">
              <b-button @click="subtractCart()" :disabled="disabled">-</b-button>
              <span>{{quantitiySelected}}</span>
              <b-button @click="addCart()" :disabled="disabled">+</b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import data from "@/db.js"

export default {
  name: "Products",
  data() {
    return {
      item: " ",
      selectedVariant: 0,
      quantitiySelected: 0,
      state: "disabled",
      productID: null,
    };
  },
  methods: {
    updateProduct(index) {
      this.selectedVariant = index;
    },
    addCart() {
      return this.quantitiySelected++;
    },
    subtractCart() {
      if (this.quantitiySelected == 0) {
        return 0;
      } else {
        return this.quantitiySelected--;
      }
    },
  },
  computed: {
    inStock() {
      return this.item[this.selectedVariant].variantQuantity;
    },
    disabled() {
      if (this.item[this.selectedVariant].variantQuantity == 0) {
        return this.state === "disabled";
      } else {
        return this.state === "normal";
      }
    },
    imageLoader() {
      return this.item[this.selectedVariant].variantImage
    },
  },
  mounted() {
    data.forEach(element => { 
      if (element.name === this.$route.params.item){
        this.item = element.variant
      }
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.width {
  max-width: 50%;
}

.col.selectColor {
  display: flex;
}
.col.stock {
  display: flex;
}

.col.addCart {
  display: flex;
}

.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
</style>
